html,body{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}

h1 {
  background-image: conic-gradient(from 25deg , rgb(52, 52, 186),rgb(255, 81, 0), rgb(83, 26, 26));
  background-clip: text;
  color: transparent;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff00e1;
  column-gap: 30px;
  box-shadow: 0 0 10px;
  font-size: 3rem;
  padding-left: 50px;
  border-radius: 10px;
  height: 250px;
  width: 500px;

}

.container::after, .container::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ff00e1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 10px;
  border-radius: 10px;
}

.container .clock{
  box-shadow: 0 0 9px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.container span {
  font-size: 15px;
}

.container .ampm {
  font-size: 2rem;
}

.form-switch, .form-check {
  padding: 0;
}

.container .switch_btn {
  position: absolute;
  font-size: 20px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.dark-mode {
  background-color: #000;
  transition:all 1s ;
}

.hadding-color {
  color: white;
  text-shadow: 3px 3px 3px #ff8914;
  box-shadow:0px 3px 3px #ff8914; ;
  transition:all 1s ;
}

.glow {
  background: linear-gradient(230deg, #20675ece, #d7c316ae, #81101058 );
  animation: glow 10s linear infinite;
}
@keyframes glow {
  100%{
    filter: hue-rotate(360deg);
  }
}